{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/reitit {:mvn/version "0.7.2"}
        aleph/aleph {:mvn/version "0.8.1"}
        com.datomic/peer {:mvn/version "1.0.7187"}
        metosin/malli {:mvn/version "0.16.4"}
        metosin/muuntaja {:mvn/version "0.6.10"}
        metosin/reitit-swagger {:mvn/version "0.7.2"}
        metosin/reitit-swagger-ui {:mvn/version "0.7.2"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        ring/ring-core {:mvn/version "1.12.2"}}

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :extra-paths ["test"]
   :main-opts ["-m" "kaocha.runner"]}}}
